
.recipe {
    
   padding:1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.recipe img {
    border-radius: 5px 5px 0 0;
    width: 90%;
    height: auto;
    
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.recipe figcaption {
    border-radius: 0 0 5px 5px;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 5px;
    font-weight: bold;
    justify-content: space-between;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   min-height: 70px;
}

.colored {
    color:red;
}

.fa-heart {
    margin: 3px;
}
    